<%= link_to "Dojos Index", "/dojos" %>
<%= link_to "Instructors Index", "/instructors" %>
<% @instructors.each do |instructor| %>
  <h1><%= instructor.name %></h1>
  <h3><%= instructor.id %></h3>
  <h3><%= instructor.payroll %></h3>
  <h3><%= instructor.experience %></h3>
<% end %>
<%= link_to "Create Instructor", "/dojos/#{@dojo.id}/instructors/new" %>
