<%= link_to "Dojos Index", "/dojos" %>
<% @instructors.return_true.each do |instructor| %>
  <h1><%= instructor.name %></h1>
  <p><%= instructor.payroll %></p>
  <p><%= instructor.experience %></p>
  <%= link_to "Update #{instructor.name}", "/instructors/#{instructor.id}/edit" %>
  <%= link_to "Delete #{instructor.name}", "/instructors/#{instructor.id}", method: :delete %>
<% end %>
