<%= link_to "Companies Index", "/companies" %>
<%= link_to "Seeds Index", "/seeds" %>
<% @seeds.each do |seed| %>
  <h1><%= seed.name %></h1>
  <h3><%= seed.id %></h3>
  <h3><%= seed.available %></h3>
  <h3><%= seed.quantity %></h3>
<% end %>
<%= link_to "Create Seed", "/companies/#{@company.id}/seeds/new" %>
