<%= link_to "Companies Index", "/companies" %> |
<%= link_to "Seeds Index", "/seeds" %> | 
<%= link_to "Alphabetize  Seeds", "/companies/#{@company.id}/seeds?order=alphabetize" %>
<p><%= form_with url: "/companies/#{@company.id}/seeds", method: :get, local: true do |form| %>
  <%= form.label :quantity %>
  <%= form.text_field :quantity %>
  <%= form.submit "Return Records" %>
<% end %></p>
<% @seeds.each do |seed| %>
  <h1><%= seed.name %></h1>
  <h3>Seed ID: <%= seed.id %></h3>
  <h3>Available? <%= seed.available %></h3>
  <h3>Quantity: <%= seed.quantity %></h3>
<% end %>
<%= link_to "Create Seed", "/companies/#{@company.id}/seeds/new" %>
